Body{background-color:blueviolet}#3efaf7;text-align:justify;font-size:18px;}
h1{text-align:center;background-color:blue#2fbdba;color:aqua#17313b;}
h3{text-align:justifx;color:#2fbdba#1f7a79;;}
    

}