Body{background-color:rgb(228, 41, 41)}#3efaf7;text-align:justify;font-size:18px;}
h1{text-align:center;background-color:rgb(226, 14, 131)#2fbdba;color:aqua#17313b;}
h3{text-align:justifx;color:#2fbdba#1f7a79;;}
b{color:#2fbdba;font-size:18px;}    
i{color:#2fbdbafont-size:18px;}
header, footer{background-color:aqua3499cba;color:aquamarine#ceefc;text-align:center;font-s 
mainn{background-color:#2fbdba#8ddefc;}